<div class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputTitle">Title</label>
    <div class="controls">
      <input type="text" class="input-xxlarge" id="inputTitle" value="{{title}}">
    </div>
  </div>
{{#authors authors id="inputAuthor" text="Author(s)"}}{{this}}{{/authors}}
{{#sourceinput journal text="Journal"}}{{this}}{{/sourceinput}}
{{#sourceinput year text="Year"}}{{this}}{{/sourceinput}}
{{#sourceinput volume text="Volume"}}{{this}}{{/sourceinput}}
{{#sourceinput number text="Number"}}{{this}}{{/sourceinput}}
{{#sourceinput pages text="Pages"}}{{this}}{{/sourceinput}}
{{#sourceinput month text="Month"}}{{this}}{{/sourceinput}}
{{#sourceinput note text="Note"}}{{this}}{{/sourceinput}}
</div>