<td>
<div><a href="/{{id}}">{{itemname}}{{#if pritags}} ({{pritags}}){{/if}}</a></div>
<div><small class="pull-right">by {{ author.name }} at {{ published_at }}</small>
{{#each sectags}}<span class="tag">{{this}}</span>{{/each}}</div>
</td>