<td>
<div><a href="{{item_link}}">{{item_name}}{{#if pritags}} ({{pritags}}){{/if}}</a></div>
<div><small class="pull-right">by <a href="{{author_link}}">{{author_name}}</a> at {{timestamp}}</small>
{{#each sectags}}<span class="category">{{#each this}}<span class="tag">{{this}}</span>{{/each}}</span>{{/each}}</div>
</td>