<div class="control-group">
  <label class="control-label" for="input-{{id}}">{{name}}</label>
  <div class="controls">
    <input type="text" class="{{classes}}" id="input-{{id}}" value="{{value}}" maxlength="{{max}}">
  </div>
</div>