<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="item-media">
      <div class="item-media-body">
{{#if link}}
        <img src="{{link}}" class="img-responsive" />
{{/if}}
{{#if error}}
        <span class="text-danger">{{error}}</span>
{{/if}}
{{#if info}}
        <span class="text-info">{{info}}</span>
{{/if}}
      </div>
      <div class="item-media-caption">
        {{#if description}}<b>Figure {{name}}:</b> {{description}}{{else}}<b>Figure {{name}}</b>{{/if}}
      </div>
    </div>
  </div>
</div>