<div class="form-group">
  <label class="control-label col-md-2" for="input-{{id}}">{{name}}</label>
  <div class="col-md-{{size}}">
    <input type="text" class="form-control" id="input-{{id}}" value="{{value}}" maxlength="{{max}}">
  </div>
</div>