<div class="form-group">
  <label class="control-label col-md-2" for="input-{{key}}">{{name}}</label>
  <div class="col-md-{{size}}">
    <input type="text" class="form-control" id="input-{{key}}" value="{{value}}" maxlength="{{max}}">
  </div>
</div>